body {
    color: #555;
    font-family: "Maven Pro","Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
}
#name_and_contact_details h1 {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
#name_and_contact_details span {
	padding: 12px 0 0 0;
	float: right;
	font-size: 18px;
}
#name_and_contact_details h4 {
  color: #383838;
  font-style:	normal;
  font-size: inherit;
}
.title {
	font: 145% Georgia;
	color: #383838;
	font-style:	italic;
	border-bottom: 1px solid #ccc;
}
.sub-title {
	font: 115% Georgia;
	color: #383838;
	font-style:	italic;
}
.margin-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.margin-5 button {
	margin-top: 5px;
}
